* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url("./files/pozadina12.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#sve {
    width: 100%;
    height: 84vh;
    background-color: black;
    clear: both;
    box-shadow: 0px 0px 15px 10px black;
}

#wrapper {
    width: 70%;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.85;
    margin-top: 4%;
    margin-bottom: 25%;
    clear: both;
}

#navID {
    display: inline-block;
    width: 100%;
    margin-top: 1%;
}

ul {
    margin-left: 54%;
}

#navID ul li {
    display: inline;
    padding-left: 10%;
}

#navID a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding-left: 3%;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    border: 1px solid gray;
    width: 96%;
}

#slikamoja {
    height: 65%;
    width: 85%;
    background-color: black;
    margin-left: 8%;
    margin-top: 10.5%;
    float: left;
    
}

#slikamoja img {
 width: 55%;
 box-shadow: 0px 0px 7.5px 5px white;
}
    

h2 {
    color: white;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 1%;
    margin-left: 12%;
    font-family: 'Courier New', Courier, monospace;
}

#ikonesastrane {
    width: 2%;
    height: 30%;
    float: left;
    margin-top: 18.5%;
    margin-left: 2%;
}

.ikonice {
    width: 100%;
    height: 25%;
    float: left;
}

.ikonice img {
    width: 100%;
}

#slikamoja h1 {
    color: white;
    font-size: 40px;
    float: right;
    width: 33%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 13%;
    margin-right: 2%;
}

input {
    font-size: 13px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    background: rgba(0,0,0,0);
    opacity: 0.5;
    transition: 0.2s ease;
  }
  
  input:focus {
    outline: none;
    opacity: 1;
  }
  
  .form {
      border:1px solid red;
      width: 400px;
      margin-left: 35%;
      margin-right: auto;
      margin-top: 16%;
  }
  .form h1 {
    display: block;
    margin: 0 0 45px 0;
    color: black;
    font-weight: 200;
    font-size: 18px;
  }
  label {
    color: black; 
    font-weight: bold;
    font-size: 17px;
    
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 8px;
    opacity: 0.5;
    transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
    font-family: 'Courier New', Courier, monospace;
  }
  .group { 
    position: relative; 
    margin-bottom: 25px; 
  }
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top: -10px;
    font-size: 12px;
    color: white;
    opacity: 1;
  }
  
  .highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  a.send-btn {
    position: absolute;
    float: right;
    right:39.5%;
    color: black;
    transition: 0.2s ease;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  a.send-btn:hover {
    color: #FAFAFA;
    cursor: pointer;
  }
  #contactSlika{
      position: absolute;
      width: 60%;
      height: 70%;
      margin-left: 5%;
      margin-top: 2%;
      
  }
  #contactSlika img{
      width: 100%;
  }